/* CSS Document */
#content {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

#header {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1em;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: rgb(255, 235, 136);
  border-radius: 15px;
  border-color: rgb(255, 235, 136);
  border-style: solid;
  border-width: 2em;
}

#calcButton {
  padding-top: 1.5em;
}

#output {
  text-align: center;
}

